extends ../layouts/default

block content
  .row
    .span6
      a(href="/auth/facebook") 
        div
          <button  data-ng-hide="userTalons.indexOf(article) === -1" class="demo btn btn-success input-block-level"><img class="img-rounded img-responsive img-talon" data-ng-src="img/icons/facebook.png" alt="Entra con Facebook" />Entra con Facebook</button>
    .span6
      a(href="/auth/google")
        div
          <button  data-ng-hide="userTalons.indexOf(article) === -1" class="demo btn btn-success input-block-level"><img class="img-rounded img-responsive img-talon" data-ng-src="/img/icons/google.png" alt="Entra con Facebook" />Entra con Google</button>
    .span12
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          ul
            each error in errors
              li= error.type

      block auth
