<section data-ng-controller="TalonariosController" data-ng-init="find()">

	<ul class="articles unstyled">
		<li data-ng-repeat="talonario in talonarios">
				<h2><a data-ng-href="#!/talonarios/{{talonario._id}}">{{talonario.created | date:'longDate'}}</a></h2>
				<ul class="articles unstyled">
					<li data-ng-repeat="talon in talonario.talones">
						<table border="0">
							<tr>
								<td><img class="img-thumbnail" data-ng-src="/img/articles/{{talon._id}}{{talon.image}}" alt="{{talon.title}}" style="min-height:100px;height:100px;"/></td>
								<td><div><b>{{talon.title}}</b>{{talon.content}}</div></td>
							</tr>
				 		</table> 	
					</li>	
				</ul>		
		</li>
	</ul>

</section>