<section data-ng-controller="TalonariosController" data-ng-init="findOne()">


			
				<script src="//code.jquery.com/jquery-1.10.2.js"></script>
						

					 <div carousel interval="3000">
				      <div slide ng-repeat="slide in talonario.talones" active="slide.active">
				        <div style="text-align: center; align: center">
				        	<img src="/img/articles/{{slide._id}}{{slide.image}}" alt="{{slide.title}}"  style="margin: auto; text-align: center; align: center"/>
				        </div>			
				        <div class="carousel-caption">
				          <h4>página {{$index +1}}</h4>
				          <p>{{slide.tittle}}</p>
				          <p>{{slide.content}}</p>
				        </div>
				      </div>
				    </div>

				    <p><a class="btn btn-success btn-large" ng-click="openBackWindow('/talonarios/pdf/'+talonario._id,'Talonario PDF')">Descargar Talonario ¡GRATIS!</a></p>

				    <p><a class="btn btn-success btn-large" ng-click="openPayPalWindow(talonario._id)">
						Te lo enviamos a casa por 10 Euros?
				    	<img src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" alt="{{slide.title}}"  style="margin: auto;">
				    </a></p>

					<!--<table border="0">
							<tr>
								<td><img class="img-thumbnail" src="http://res.cloudinary.com/hn9rn0xhn/image/upload/w_200,h_100/{{talon._id}}.jpg" alt="{{talon.title}}" /></td>
								<td><div>{{talon.content}}</div></td>
							</tr>
				 		</table> 	-->
						
				</ul>	
</section>