<section data-ng-controller="ArticlesController" data-ng-init="find()">
<div class="container-fluid">  
      <div class="row-fluid">  
        <div class="span3">  
          <div class="well sidebar-nav">  
            <ul class="nav nav-list">  
              <li class="nav-header">Filtrar:</li>  
              <li ><button ng-click="filters.tags = ''" class="input-block-level">TODOS</button></li>
            <!--  <li class="active"><a href="#">HTML 4.01</a></li> -->  
              <li data-ng-repeat="tag in tags"><button class="input-block-level" ng-click="filters.tags = tag">{{tag}}</button></li>  

           </ul>  
          </div><!--/.well -->  
        </div><!--/span-->  
        <div class="span9">  
          <div class="leaderboard">
          	<div class="navbar-header nav contador">
      				<h2>{{userTalons.length}} seleccionados<a ng-show="userTalons.length > 1" class="btn btn-success btn-large" ng-click="crearTalonario()">Crear Talonario</a></h2>
    			   </div>  
          </div>  
          <div class="row-fluid">  
    				<ul class="articles unstyled">
    					<li data-ng-repeat="article in articles | filter:filters" ng-show="userTalons.indexOf(article) == -1">
    						<!--<span>{{article.created | date:'shortDate'}}</span> /
    						<span>{{article.user.name}}</span>-->
    						<div>
    							<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
                  <ul class="inline">  
                    <li data-ng-repeat="tag in article.tags"><span class="label label-success">{{tag}}</span></li> 
                  </ul>  
    							<div ng-show="userTalons.indexOf(article) == -1">
    									<ul class="unstyled">
                        <li><img class="img-rounded img-responsive" src="/img/articles/{{article._id}}{{article.image}}" alt="{{article.title}}" /></li>
      									<!--<td><div>{{article.content}}</div></td>-->
      					   			<li><a class="btn btn-success input-block-level" ng-click="addSelectedTalon(article)">Seleccionar</a></li>
                      </ul> 
    					 		</div> 			
    						</div>
    					</li>
    				</ul>
          </div><!--/row-->  
          <hr>  
     <footer> 
        <p><h1 data-ng-show="userTalons.length == articles.length">Ya tienes todos los talones en tu talonario!!!</h1></p> 
        <p>© Company 2014</p>  
      </footer>  
  
    </div><!--/.fluid-container-->  



</section>