<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<span>{{article.created | date:'dd/MM/yyyy HH:mm'}}</span> /
	<span>Creado por: {{article.user.name}}</span>
	<h1>{{article.title}}</h1><a data-ng-show="global.user._id == article.user._id" href="/#!/articles/{{article._id}}/edit">editar</a>
	<div ng-repeat="tag in article.tags" class="inline"><h2 class="label label-success">{{tag}}</h2></div>
	<img class="img-rounded" data-ng-src="/img/articles/{{article._id}}{{article.image}}" alt="{{article.title}}" />
	<p>{{article.content}}</p>
	
</section>
